

.Pic_Container{
  width: 68%;
  height: auto;
  border: 12px double rgba(100, 20, 30, .8);;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.Profile_Pic{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
}